* {
    padding: 0;
    margin: 0;
}

textarea:focus {
    outline: 0;
    resize: none;
}

textarea {
    outline: 0;
    resize: none;
}

#about span a {
    color: #aab0bc;
    font-size: 0.75rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-decoration: none;
    opacity: 0.5;
}

#about span a:hover {

    text-decoration: underline;
}

#about span:nth-child(n):not(:last-child):after  {
    content: ' \00B7\00a0';
    color: #aab0bc;
    opacity: 0.6;
}

#view-all {
    text-decoration: none;
    color: #212529;
}

#view-all:hover {
    color: #aab0bc;
}

#lg-nav li.dropdown-item {
    border-radius: 5px;
}

#lg-nav ul li {
    padding-left: 1rem;
}

#lg-nav ul.nav li:hover {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 5px;
}


#lg-nav .dropdown ul {
    width: 244px !important;
    position: absolute;
    left: 50px;
}

#dropdownUser:hover {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 5px;
}

#lg-nav .dropdown a::after {
    content: none;
}

#drop-div {
    border-bottom: 5px solid rgba(0, 0, 0, .05);
}

#droplist a:hover {
    background-color: transparent !important;
}

#droplist li:hover {
    background-color: rgba(0, 0, 0, .05) !important;
}

#sm-nav li.dropdown-item {
    border-radius: 4px;
}

#sm-nav ul li {
    padding: 0.75rem;
    padding-left: 1rem;
}

#sm-nav div.dropdown a {
    padding: 0.75rem;
    padding-left: 1rem;
    border-radius: 4px;
}

#sm-nav div.dropdown a:hover {
    background-color: rgba(0, 0, 0, .05) !important;
}

#sm-nav ul.nav li:hover {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 5px;
}


.story-container .content .img-container {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background:
        radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
        radial-gradient(white 65%, transparent 0),
        linear-gradient(to top right, rgb(255, 226, 96), rgb(223, 27, 132));
}

.story-container .content .img-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(42%);

}